@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 10vh;
    background-color: #000;
}


@media screen and (max-width: 600px) {
    .cabecalho {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: 10vh;
        background-color: #000;
    }
}

h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
    color: #F25C05;
}

.titulosobre {
    color: #000;
}

.titulohobbies {
    color: #000;
    padding-left: 10px;

}

.titulocontato {
    color: white;
}

.textosobre {
    margin-left: 10%;
    font-size: 100%;
    padding-top: 20px;
    padding-right: 30px;
    align-items: center;

}

@media screen and (max-width:600px) {
    .textosobre {
        justify-content: space-evenly;
        align-items: center;

    }
}

.textohobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid #000;
}

img {
    border-radius: 4px;
    width: 260px;
    height: 180px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-inline: auto;
    background-color: #000;

}

/*Parte para responsividade da navegação*/
@media screen and (max-width: 600px) {
    .topnav {
        justify-content: center;
        display: block;
        align-items: center;
        float: none;
        width: 100%;
    }
}

#sobre {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #FC8137;
}

/*Responsividade do sobre*/
@media screen and (max-width:600px); {
    #sobre {
        height: 100%;
        display: block;
        align-items: center;
        width: 100%;
    }
}

#hobbies {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: white;
}

@media screen and (max-width:600px); {
    #hobbies {
        height: 50%;
        display: block;
        align-items: center;
        width: 100%;
    }
}

#contato {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #000;
}

@media screen and (max-width:600px); {
    #contato {
        height: 50%;
        display: block;
        align-items: center;
        width: 100%;
    }
}

button {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

a:hover {
    color: #F25C05
}

input[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    border-radius 5px;
    background-color: #f2f2f2;
    padding: 20px;
}